{% extends "layout.html" %}

{% block title %}
    Reset Password
{% endblock %}

{% block main %}
    <div class="login-background">
        <main class="container py-5 text-center">

            <div class="centercontainer">
                <form action="/forgorconfirm" method="post">
                    <div class="mb-3" style="font-family: 'Frank Ruhl Libre', serif; font-weight: bold; font-size: xx-large">
                        Change your password
                    </div>
                    <div class="mb-3">
                        <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
                    </div>
                    <div class="mb-3">
                        <input class="form-control mx-auto w-auto" name="confirmation" placeholder="Confirm Password" type="password">
                    </div>
                    <button class="btn btn-primary" type="submit">Confirm</button>
                </form>
            </div>
        </main>
    </div>
{% endblock %}
