{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <div class="login-background">
        <main class="container py-5 text-center">

            <div class="centercontainer">
                <form action="/login" method="post">
                    <div class="mb-3" style="font-family: 'Frank Ruhl Libre', serif; font-weight: bold; font-size: xx-large">
                        Log In
                    </div>
                    <div class="mb-3">
                        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
                    </div>
                    <div class="mb-3">
                        <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
                    </div>
                    <div class="mb-3">
                        <a href="/forgor" style="font-weight: bold">Forgot Password?</a>
                    </div>
                    <button class="btn btn-primary" type="submit">Log In</button>
                </form>
            </div>
        </main>
    </div>
{% endblock %}
